<div class="top-menu">
  <img class="logo" src="https://angular.io/assets/images/logos/angular/angular.svg">
</div>
<div class="demo">
  <div>Start Date: {{ startDate | date:'dd/MM/yyyy' }}</div>
  <div> {{ title | titlecase }} </div>
  <div> Price: {{ price | currency:'BRL' }} </div>
  <div> Percentage: {{ rate | percent }} </div>
  <div> <h2>Chaves e Valores:</h2></div>
  @for ( pair of course | keyvalue; track course.id;) {
    <b>{{ pair.key +': ' }}</b>{{ pair.value }}<br/>
  }
  
</div>

<div>
  <h1>Total de cursos: {{courses.length}}</h1>
  <div class="courses">
    @for (course of courses | slice:0:2; track course.id; let index = $index; let first = $first; let last = $last; let even = $even; let odd = $odd) {
    <course-card 
    [course]="course"
    [index]="index"
    [class.is-first]="first"
    [class.is-last]="last"
    [class.is-even]="even"
    [class.is-odd]="odd"
    (courseSelected)="onCourseSelected($event)" />
    }
    @empty {
    <h1>No courses yet!</h1>
    }
  </div>
</div>

